html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  background: #f4f4f4;
}
  
header {
  background: black;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
#logo {
  font-size: 30px;
  height: 33px;
}
.container {
  max-width: 1500px;
  min-width: 500px;
}

nav {
  list-style-type: none;
  color: white;
  background-color: black;
}

nav ul {
  padding: 0;
  color: white;
  font-size: 9px;
  width: 150px;
}

nav ul a:hover {
  text-decoration: underline;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
  color: black;
  padding: 12px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-align: left;
  color: white;
  background: black;
}

nav ul li ul {
  display: none;
  position: absolute;
}

nav ul li ul li {
  display: block;
  float: none;
  background: white;
  padding: 5px;
  width: 200px;
}

nav ul li ul li a {
  display: block;
  color: black;
  background: white;
  padding: 7px 0 5px 0;
  text-align: left;
}

nav ul li ul li a:hover {
  text-decoration: none;
  background: rgb(241, 241, 241);
}


#section1 {
  background: url("https://source.unsplash.com/featured/?rainbow") no-repeat center center/cover;
  width: 100%;
  padding: 1rem;
  color: white;
}

.container {
  padding: 1rem;
}

#container2 {
  display: flex;
  margin: 0;
  padding: 1rem;
}

#image2 {
  background: url("https://source.unsplash.com/featured/?sea");
  object-fit: center, contain;
  width: 100rem;
  min-height: 20rem;
  max-height: 25rem;
  border-radius: 1%;
}


#text,
#text li {
  margin: 1rem;
}

#readMore {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(236, 176, 152);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#readMore:hover {
  background-color: #555;
}
  
#section2 {
  margin: 0;
  background: rgb(193, 225, 228);
  padding: 1rem;
}

#container4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  
#container3 {
  margin: 1rem;
  padding: 1rem;
}

.fa-html5 {
  font-size: 60px;
}

.fa-css3-alt {
  font-size: 60px;
}

.fa-js-square {
  font-size: 60px;
  color: white;
}

.fa-figma {
  font-size: 60px;
}
  

.square {
  height: 150px;
  width: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  padding: 1rem;
  margin: 1rem;
}

.circle { 
  height: 100px;
  width: 100px;
  background-color: rgb(236, 176, 152);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
  

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
  
footer {
  padding: 1rem;
  color: black;
}


.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: auto;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

form {
  margin: 1rem;
}

#send {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(236, 176, 152);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#send:hover {
  background-color: #555;
}