.html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Work Sans", sans-serif;
    background: #f4f4f4;
  }
  
header {
  background: black;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 5rem;
}

#logo {
  font-size: 30px;
}

.container {
  max-width: 1500px;
  min-width: 500px;
}


nav {
  list-style-type: none;
  float: right;
  color: white;
  font-size: 15px;
}
  
nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: 4px solid white;
}
  
ul {
  margin: 1rem;
  list-style: none;
}
  
  #section1 {
    background: url("https://source.unsplash.com/featured/?laptop") no-repeat center center/cover;
    height: 15rem;
    padding: 1rem;
  }
  
  #container2 {
    display: flex;
    padding: 1rem;
    margin: 0;
  }

  #image2 {
    background: url("https://source.unsplash.com/featured/?laptop,human");
    object-fit: center, contain;
    width: 100rem;
    min-height: 20rem;
    max-height: 20rem;
  }
  
#text1 {
  margin: 1rem;
}

#readMore {
font-size: 18px;
  border: none;
  outline: none;
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#readMore:hover {
  background-color: #555;
}
  
#section4 {
  margin: 0;
  background: lightgrey;
}
  
#section5 {
  margin: 1rem;
  padding: 1rem;
}
  
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
  
footer {
  padding: 1rem;
  color: black;
}


.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: auto;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
  
form {
  margin: 1rem;
}