* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Work Sans", sans-serif;
  }
  
  .small_pictures {
    width: 300px;
    border-radius: 10%;
  }
  
  
  h2 {
    margin-bottom: 30px;
  }
  
  header {
    background: black;
    color: white;
    width: 100%;
    padding: 20px;
    height: 100px;
  }
  
nav {
  float: right;
  text-decoration: none;
}

  nav ul {
    list-style-type: none;
    padding: 20px;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a:hover {
    background: white;
  }

.container {
  width: 700px;
  background: rgba(255, 255, 255, 0.356);
  border-radius: 20px;
  padding: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
  
  #past,
  #present,
  #future,
  #contact {
    height: 500px;
    width: 100%;
    padding: 10px;
    display: block;
  }
  
  #past {
    background: #899;
    color: #000;
  }
  
  #present {
    background: #0345;
  }
  
  #future {
    background-color: cornflowerblue;
  }
  
  #contact {
    background: #3489;
    color: #ffff;
  }
  